#titlediv,
#upload {
  margin-top: 10px;
  margin-bottom: 10px;
}
#titleinput {
  width: 20px;
}
#submitButton {
  padding: 0.35rem 2rem;
}

#price {
  margin: 20px 20px;
}
#category {
  margin: 20px 20px;
}

.image-upload > input {
  visibility: hidden;
  width: 0;
  height: 0;
}
