#titlediv,#upload{
    margin-top: 10px;
    margin-bottom: 10px;
}
#titleinput{
    width: 20px;
}
#submitButton{
    margin-left: 90%;
}

#price{

    margin-left: 15%;
    margin-top: 10px;
}
#category{
    margin-left: 5%;
    margin-top: 10px;
}