.conversationnpm {
overflow-y:scroll;
border-right: solid;
}
#chat{
  overflow-y: scroll;
  background:#fff;
  max-height: 700px;
}

.msg-right{
    background:#3BA1EE;
    padding:10px;
    text-align:right;
    color:#fff;
    margin:5px;
    width:70%;
    float:right;
  margin-right: 30px;
  height: auto;

}
.msg-left{
    background:#ddd;
    padding:10px;
    margin:5px;
     width:70%;
    float:left;
  margin-left: 30px;
  height: auto;
}
.bar{
  background: #337AB7;
  height: 10px auto;
  color: whitesmoke;
  font-size: 25px;
}
.newmessage{
position: relative;
bottom: 5%;
}
#cardheader{
  text-align: center;
}
#maincard{
   width: 75%;
   margin-left: 15%;
    height: 90% ;
    padding: 20px;
}
#placeholder{
  width:50px;
  height:50px;
}

#datetime{
  margin-left: 80%;
  color: grey
}