.inputbuttons{
    padding: 10px;
    background: whitesmoke;
    width: 100%;
    margin-top: 5px;
}
.date{
    margin-left: 92%;
    color: #545b62;
}
.card-div{
 margin-top: 10px;
}
.active{
    color:white;
}